@import "../../styles/theme-settings";

.c_banner {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 1em;
  min-height: 450px;
  max-height: 450px;

  @media #{$tiny} {
    min-height: 290px;
    max-height: 290px;
    margin-bottom: 1em;
  }

  @media #{$small} {
    min-height: 400px;
    max-height: 400px;
    margin-bottom: 1.5em;
  }

  @media #{$medium} {
    min-height: 500px;
    max-height: 500px;
  }

  @media #{$large} {
    min-height: 640px;
    max-height: 640px;
  }

  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .c_image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      img {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        transform: translate(-50%, -50%);
        position: relative;
        left: 50%;
        top: 50%;
      }
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba($color-black, 0.6);
  }

  .c_intro {
    position: relative;
    z-index: 3;
    color: $color-white;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;

    @media #{$medium} {
      max-width: 65%;
    }

    @media #{$large} {
      max-width: 50%;
    }
  }
}
